.container {
    display: flex;
    width: 99,5%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(196, 72, 72);
}
.searchbar{
    height: 100%;
    width: 20%;
}
.input{
    margin-left: -120PX;
    width: 90%;
    padding: .5rem;
    border: 3px solid rgb(196, 72, 72);
    border-radius: .8rem;
    outline: none;
    height: 1.5rem;
}
.btnSearch {
    font-family: 'Press Start 2P';
    border: 3px solid ;
    cursor: pointer;
    border-radius:0.8rem;
    height: 45px;
    width: 120px;
    color: rgb(196, 72, 72);
    background: white;
    position: absolute;
}

.Btn{
    font-family: 'Press Start 2P';
    border: 3px solid ;
    cursor: pointer;
    border-radius:0.8rem;
    height: 45px;
    width: 200px;
    color: rgb(196, 72, 72);
    background: white;
}